[Unit]
Description=go-thereum client
Requires=network.target

[Service]
Type=simple
User={{ geth_user }} 
Restart=on-failure
ExecStart=/home/{{ geth_user }}/.local/bin/geth --datadir "{{ geth_datadir }}" --cache {{ geth_cache }} --syncmode "fast"{% if geth_networkid %} --networkid {{ geth_networkid }}{% endif %}{% if geth_nodiscover %} --nodiscover{% endif %}{% if geth_testnet %} --testnet{% endif %}{% if geth_port is defined %} --port {{ geth_port }}{% endif %} --maxpeers {{ geth_maxpeers }} --maxpendpeers {{ geth_maxpendpeers }} {% if geth_rpc is defined and geth_rpc == true %} --rpc --rpcaddr {{ geth_rpcaddr }} --rpcport {{ geth_rpcport }} --rpcapi {{ geth_rpcapi }}{% if geth_rpccorsdomain is defined %} --rpccorsdomain "{{ geth_rpccorsdomain }}"{% endif %}{% if geth_rpcvhosts %} --rpcvhosts "{{ geth_rpcvhosts }}"{% endif %}{% endif %}{% if geth_unlock %} --unlock {{ geth_unlock }} --password {{ geth_passwordfile }}{% endif %}{% if geth_script %} js {{ geth_script }}{% endif %}

[Install]
WantedBy=default.target